{% extends "partial/base.html" %}

{% block header %}
{% include "partial/header.html" %}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign in</a>
            </small>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   
{% block script %}
{% include "partial/script.html" %}

{% endblock script %}
<script>
    
        $( function() {
            $( "#id_dob"  ).datepicker({
            changeMonth: true,
            changeYear:true,
            yearRange: '1920:2014',
    },{dateFormat: "yy-mm-dd"});
        });
    </script>
    

{% endblock %}




