{% extends "partial/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Prescription</h1>

<h6>Name: {{ user.patient.capitalize }} {{ user.patient.capitalize }}</h6>
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group"> 
                            {{ form|crispy }}
                        </fieldset>
                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Send Prescription</button>
                        </div>
                    </form>
                    

    {% endblock content %}