{% extends 'partial/base.html' %}
<!-- to load static files like js, css -->
{% load static %}

<!-- load crispy tag -->
{% load crispy_forms_tags %}
<!-- header block -->
{% block header%} {% include "partial/header.html" %} {% endblock %}

<!-- appointment list -->

{% block content %}
<!-- length of appointments -->
{% if user.is_doctor %} 

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Patient</th>
      <th scope="col">Date</th>
      <th scope="col">status</th>
      <th scope="col">Start at</th>
      <th scope="col">End at</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> {{appointment.patient}}</td>
      <td>{{ appointment.appointment_date }}</td>
      <td>
        {% if appointment.status == 3 %}Waiting{% endif %}
        <!-- cancel  -->
        {% if appointment.status == 2 %}Cancelled{% endif %}
        <!-- confirm  -->
        {% if appointment.status == 1 %}Confirmed{% endif %}
      </td>
      <td>{{ appointment.timeslot.available_from }}</td>
      <td>{{ appointment.timeslot.available_to }}</td>

      <td>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle mt-0"
            type="button"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Action
          </button>
          <div class="dropdown-menu">
            {% if appointment.status == 3 %}
            <a
              id = "cancel_status"
              class="dropdown-item action-status"
              data-status-update-url="{% url 'update-appointment-status' %}"
              data-status="2"
              data-appointment-id="{{ appointment.id }}"
              href="#"
              >Cancel</a
            >
            <a
              id = "action_confirm"
              class="dropdown-item action-status"
              data-status-update-url="{% url 'update-appointment-status' %}"
              data-status="1"
              data-appointment-id="{{ appointment.id }}"
              href="#"
              >Confirmed</a
            >
            {% endif %}
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% endif %}
<!-- end of if-->
{% endblock %}

{% block rightpane %}
{% include "user_profile/info.html" %}
{% endblock %}

{% block script %} 
{% include "partial/script.html" %}
<script>
 $('#cancel_status').on('click', function () {
      if (confirm('Are you sure you want to cancel the appointment?')) {
        var url=$('#cancel_status').attr('data-select-status');
        var appointment_id = $(this).data("appointment-id")
        console.log("cancel" + appointment_id + url)
        var status = 2;
        $.ajax({                       
            url: url,                   
            data: {
              status:status,
              appointment_id:appointment_id,
                  },
            success: function (data) {   
              setTimeout(function(){
                location.reload();
              }, 1000); //reload time
            }
          });}
          else {
           return false;
         }

    
        });

  $('#action_confirm').on('click', function(e) {
    var appointment_id = $('#action_confirm').data('appointment-id');
    var url = $('#action_confirm').data('status-update-url'); // get the url of the `load_doctors` view
    var status = $('#action_confirm').data('status'); // get the selected department ID from the HTML input
    $.ajax({
      url: url,
      data: {
        status: status,
        appointment_id: appointment_id
      },
      success: function(data) {
        setTimeout(function() {
          location.reload();
        }, 1000);
      }
    });
  });
</script>
{% endblock %}

