{% extends "partial/base.html" %}
{% load static %}

{% block header%}
{% include "partial/header.html" %}
{% endblock %}
{% block content %}
<!-- Check length for available appointment -->
{% if appointment_list|length == 0 %}
<li class="list-group-item">No apointments available</li>


{% else %}

<table class="table table-hover">
    <thead >
      <tr>
      
      
        <th scope="col">#</th>
        <th scope="col">Patient</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        
        <th scope="col">Start at</th>
        <th scope="col">End at</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
    {% for appointment in appointment_list %}
    
    {{ appointment.status }}
    

      <tr>
     
        <th scope="row" > 1 </th>
        <td><a href="{{ appointment.get_absolute_url }}"> {{appointment.patient}}</a></td>

        <td> 
            {{appointment.appointment_date}}
            
          </td>
          <td>
              {%if appointment.status == 3 %} Waiting {% endif %}
              {%if appointment.status == 2 %} Cancelled {% endif %}
              {%if appointment.status == 1 %} Confirmed {% endif %}



      </td>
        
        <td> {{ appointment.time_slot.available_from }}</td>
          <td>{{ appointment.time_slot.available_to }}</td>
  
       <td>
           <div class="dropdown">
               <button 
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenu2"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">Action</button>

            <div class="dropdown-menu">  
                {% if appointment.status == 3 %}

                <a id="cancel_status" data-appointment-id="{{appointment.id}}" data-select-status="{% url 'update-appointment-status' %}" name="action" value="2" class="dropdown-item update_status"  >Cancel</a>
                <a id="confirm_status" data-appointment-id="{{appointment.id}}" data-select-status="{% url 'update-appointment-status' %}" name="action" value="1" class="dropdown-item update_status " >Confirmed</a>
                {% endif %}
            </div>
            </div>
       </td>
       </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock  %}

  {% block script %}
  {% include "partial/script.html" %}
  
  <script>

      $('#cancel_status').on('click', function () {
      var url=$('#cancel_status').attr('data-select-status');
      var appointment_id = $(this).data("appointment-id")
      console.log("cancel" + appointment_id + url)
      var status = 2;
      $.ajax({                       
          url: url,                   
          data: {
             status:status,
             appointment_id:appointment_id,
                 },
          success: function (data) {   
            setTimeout(function(){
              location.reload();
            }, 1000); //reload time
          }
        });
    
        });

        $('#confirm_status').on('click', function () {
      var url=$('#confirm_status').attr('data-select-status');
      var appointment_id = $(this).data("appointment-id")
      console.log("confirm" + appointment_id + url)
      var status = 1;
      $.ajax({                       
          url: url,                   
          data: {
             status:status,
             appointment_id:appointment_id,
                 },
          success: function (data) {   
            setTimeout(function(){
              location.reload();
            }, 1000); //reload time
          }
        });
    
        });
      </script>
  
    {% endblock script %}



