{% extends "partial/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="content-section">
         
             <h4 class="border-bottom mb-4">Prescription for {{ patient.user}} </h4>
             <legend class="border-bottom mb-4"> Patient Details: </legend>
             <h6>Name:{{appointment.patient.user.first_name.capitalize}} {{appointment.patient.user.last_name.capitalize}}</h6>
             <h6>Date of Birth: {{ appointment.patient.user.dob }}</h6>
             <h6>Email: {{ appointment.patient.user.email }}</h6>
             <h6>Gender: {{ appointment.patient.user.gender }}</h6>
             <h6>Blood Group: {{ appointment.patient.user.blood_groups}}</h6>
             
          

         
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group"> 
                            {{ form|crispy }}
                        </fieldset>
                        <input type="hidden" name="patient" value="{{appointment.patient.pk}}">
                        <input type="hidden" name="appointment" value="{{appointment.pk}}">

                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="form-group">
                        <button class="btn btn-outline-info" type="submit"> Send Prescription</button>
                        </div>
                    </form>
                    

    {% endblock content %}