{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    

    {% if title %}
        <title>Hospital App- {{ title }}</title>
    {% else %}
        <title>Hospital App </title>
    {% endif %}
    


</head>
<body>
    {% block header %}{% endblock %}
    <main role="main" class="container">
         <div class="row">
                
            <div class="col-md-8">
                {% block content %} {% endblock %}
            </div>
           
            <div class="col-md-4">
                {% block rightpane %}{% endblock rightpane %}
            </div>
            </div>
 </main>
        
   {% block script %}
   
   {% endblock script %}
</body>
</html>
