{% load static %}

<header class="site-header">

    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'app-index' %}">Hospital App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'app-index' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'app-about' %}">About</a>
            <a class="nav-item nav-link" href="{% url 'app-services' %}">Our Services</a>
            <a class="nav-item nav-link" href="{% url 'app-contact' %}">Contact Us</a>
          </div>

             
          
      
          <!-- Navbar Right Side -->
          
 
            
                  {% if user.is_authenticated %}
                  {% include "appointment/notification.html" %}
                  <h6 class="text-white mt-2">{{ user.username }}</h6>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                
                  {% else %}

                  <div class="navbar-nav">
                      <div class="navbar-nav">
                          <div class="col">
                              <input class 
                                  name="q" value="{{ request.GET.q }}" 
                                  type="search"
                                  placeholder="Search">
                                  <a href="{% url 'search' %}" class="btn btn-outline-secondary btn-lg active" role="button" aria-pressed="true">Search</a><br>

                          </div>
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Sign Up</a>
                  {% endif %}
            </div>
          
        </div>
      </div>
    </nav>
  </header>