{% extends 'partial/base.html' %}

{% block title %}
    Checkout |
{% endblock %}

{% block header %}

{% endblock header %}

{% block content %}
    <div class="content-section">
            <legend class="border-bottom mb-4">Checkout</legend>
            
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}

        <form method="POST" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                
                {{ form.as_table }}

            </fieldset>
            <input type="hidden" name="appointment" value="{{appointment_id}}">
            

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Place Order</button>
            </div>
        </form>
      
    </div>

{% endblock %}

{% block rightpane %}
{% include "partial/rightpane.html" %}
{% endblock rightpane %}

{% block script %}
{% include "partial/script.html" %}
{% endblock script %}